In [1]:
# SET()
# In Python, Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. 
# The order of elements in a set is undefined though it may consist of various elements.

# The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking
# whether a specific element is contained in the set.

In [12]:
# r=set([1,2,3,4,5,6,7,8,9,1,1,2,2,3])
r=set(('rohan',1,2,3,4,4,5,'ritesh','vipul','rohan'))
r

{1, 2, 3, 4, 5, 'ritesh', 'rohan', 'vipul'}

In [15]:
t1=set('geeksforgeeks')
t2=set({'rohan':90,'rakesh':90,'rohan':60,'ritesh':99})
t2

{'rakesh', 'ritesh', 'rohan'}

In [ ]:
#Adding Elements to a Set
# Using add() method
# Elements can be added to the Set by using built-in add() function. Only one element at a time can be added to the set by
# using add() method, loops are used to add multiple elements at a time with the use of add() method.

# Note – Lists cannot be added to a set as elements because Lists are not hashable whereas Tuples can be added because
#        tuples are immutable and hence Hashable.

In [22]:
s=set()
s.add(10)
s.add(2)
s.add(13)
s.add('rohan')
s.add((10,20))
for i in range(20,30):
    s.add(i)
s

{(10, 20), 10, 13, 2, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 'rohan'}

In [ ]:
#Update()
# For addition of two or more elements Update() method is used. The update() method accepts lists, strings, 
# tuples as well as other sets as its arguments. In all of these cases, duplicate elements are avoided.

In [23]:
s

{(10, 20), 10, 13, 2, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 'rohan'}

In [34]:
s.update((50,'rohan'))
print(s)

{2, 100, 'rohan', 10, 13, 60, (10, 20), 50, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29}

In [35]:
# Accessing a Set:
# Set items cannot be accessed by referring to an index, since sets are unordered the items has no index. 
# But you can loop through the set items using a for loop, or ask if a specified value is present in a set, 
# by using the in keyword.

In [36]:
for i in s:
    print(i)

2
100
rohan
10
13
60
(10, 20)
50
20
21
22
23
24
25
26
27
28
29

In [37]:
# Removing elements from the Set:
# Using remove() method :
    
# Elements can be removed from the Set by using built-in remove() function but a KeyError arises if element 
# doesn’t exist in the set. 

# discard() method:
    
# To remove elements from a set without KeyError, use discard(), if the element doesn’t 
# exist in the set, it remains unchanged.

In [38]:
s.remove('rohan')
s

{(10, 20), 10, 100, 13, 2, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 50, 60}

In [42]:
s.remove('rohan')

KeyError: 'rohan'

In [43]:
s.discard('remove')

In [44]:
s

{(10, 20), 10, 100, 13, 2, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 50, 60}

In [ ]:
#pop():

# Pop() function can also be used to remove and return an element from the set, but it removes only the last element of the set.

# Note – If the set is unordered then there’s no such way to determine which element is popped by using the pop() function.

In [45]:
s.pop()

2

In [ ]:
# clear():
# To remove all the elements from the set, clear() function is used.

In [46]:
s.clear()

In [47]:
s

set()

In [48]:
# Frozenset:
# Frozen sets in Python are immutable objects that only support methods and operators that produce a result 
# without affecting the frozen set or sets to which they are applied. While elements of a set can be modified at 
# any time, elements of the frozen set remain the same after creation.
# If no parameters are passed, it returns an empty frozenset.

In [52]:
s1=(1,2,3,4,5,6,'rohit','vijay','raja','anand')
f=frozenset(s1)
f

frozenset({1, 2, 3, 4, 5, 6, 'anand', 'raja', 'rohit', 'vijay'})

In [53]:
frozenset()

frozenset()

In [ ]:
# FUNCTION	DESCRIPTION
# add()	Adds an element to a set
# remove()	Removes an element from a set. If the element is not present in the set, raise a KeyError
# clear()	Removes all elements form a set
# copy()	Returns a shallow copy of a set
# pop()	Removes and returns an arbitrary set element. Raise KeyError if the set is empty
# update()	Updates a set with the union of itself and others
# union()	Returns the union of sets in a new set
# difference()	Returns the difference of two or more sets as a new set
# difference_update()	Removes all elements of another set from this set
# discard()	Removes an element from set if it is a member. (Do nothing if the element is not in set)
# intersection()	Returns the intersection of two sets as a new set
# intersection_update()	Updates the set with the intersection of itself and another
# isdisjoint()	Returns True if two sets have a null intersection
# issubset()	Returns True if another set contains this set
# issuperset()	Returns True if this set contains another set
# symmetric_difference()	Returns the symmetric difference of two sets as a new set
# symmetric_difference_update()	Updates a set with the symmetric difference of itself and another

In [57]:
# Union:
# Union of two given sets is the smallest set which contains all the elements of both the sets. 
# Union of two given sets A and B is a set which consists of all the elements of A and all the elements of 
# B such that no element is repeated.
# a={1,2,3,4}
# b={7,8,9,6}
# aub={1,2,3,4,6,7,8,9}

In [61]:
set1={1,2,3,4,5,6}
set2={5,6,7,8,9,10}
set3={5,6,11,12,13,14}
set1.union(set2)
set1.union(set2,set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [63]:
#Difference():
# The difference between the two sets in Python is equal to the difference between the number of elements in two sets. 
# The function difference() returns a set that is the difference between two sets. Let’s try to find out what will be 
# the difference between two sets A and B. Then (set A – set B) will be the elements present in set A but not in B
# and (set B – set A) will be the elements present in set B but not in set A.

# set A = {10, 20, 30, 40, 80}
# set B = {100, 30, 80, 40, 60}

# set A - set B = {10, 20}
# set B - set A = {100, 60}

# Explanation: A - B is equal to the elements present in A but not in B
#              B - A is equal to the elements present in B but not in A

{1, 2, 3, 4}

In [64]:
#set1-set2
set1.difference(set2)

{1, 2, 3, 4}

In [65]:
#set2-set1
set2.difference(set1)

{7, 8, 9, 10}

In [66]:
# Also using( -)sign:
set1-set2

{1, 2, 3, 4}

In [74]:
set2-set1

{5, 6, 7, 8, 9, 10}

In [75]:
set1

{1, 2, 3, 4}

In [73]:
#set difference_update():

# The difference_update() method helps in an in-place way of differentiating the set. 
# The previously discussed set difference() helps to find out the difference between two sets and returns a new 
# set with the difference value, but the difference_update() updates the existing caller set.

# If A and B are two sets. The set difference() method will get the (A – B) and will return a new set. 
# The set difference_update() method modifies the existing set. If (A – B) is performed, then A gets modified 
# into (A – B), and if (B – A) is performed, then B gets modfied into (B – A).

# Syntax:

# A.difference_update(B) for (A - B)
# B.difference_update(A) for (B - A)

In [77]:
a={10,20,30,40,80}
b={100,30,80,40,60}
a.difference_update(b)
a

{10, 20}

In [80]:
b.difference_update(a)
b

{30, 40, 60, 80, 100}

In [ ]:
# intersection():
# Intersection of two given sets is the largest set which contains all the elements that are common to both the sets. 
# Intersection of two given sets A and B is a set which consists of all the elements which are 
# common to both A and B.

# Input: Let set A = {2, 4, 5, 6}
#        and set B = {4, 6, 7, 8}
# Output: {4,6} 
# Explanation: Taking the common elements in both the sets,
#              we get {4,6} as the intersection of both the sets.

In [83]:
A={1,2,3,4,5,6,7}
B={3,4,10,11,12,13,14}
C={10,3,4,6}
A.intersection(B,C)

{3, 4}

In [85]:
# intersection_update():
#Updates the set with the intersection of itself and another

In [87]:
A.intersection_update(B)
A

{3, 4}

In [ ]:
# isdisjoint():
# Two sets are said to be disjoint when their intersection is null. In simple words they do not have any 
# common element in between them.

# Examples:

# Let set A = {2, 4, 5, 6}
# and set B = {7, 8, 9, 10} 

# set A and set B are said to be be disjoint sets as their
# intersection is null. They do-not have any common elements in between them. 

# The isdisjoint() method takes only a single argument.
# It can also take an iterable (list, tuple, dictionary and string) to disjoint(). 
# The isdisjoint() method will automatically convert iterables to set and checks whether the sets are disjoint or not.

In [88]:
d1={1,3,5,7}
d2={10,11,12,13}
d1.isdisjoint(d2)

True

In [ ]:
#issubset():

# The issubset() method returns True if all elements of a set A are present in another set B which is
# passed as an argument and returns false if all elements not present.

# Syntax:

# A.issubset(B)
# checks whether A is a subset of B or not.
# Returns:
# returns true if A is a subset of B otherwise false.

In [90]:
A = {4, 1, 3, 5} 
B = {6, 0, 4, 1, 5, 0, 3, 5} 
A.issubset(B)

True

In [91]:
B.issubset(A)

False

In [ ]:
#issuperset():

# The issuperset() method returns True if all elements of a set A occupies set B which is passed as an 
# argument and returns false if all elements of B not present in A.
# This means if A is a superset of B then it returns true; else False

# Syntax:

# A.issuperset(B)
# checks whether A is a superset of B or not.
# Returns:

# True if A is a superset of B; otherwise false.

In [92]:
A = {4, 1, 3, 5} 
B = {6, 0, 4, 1, 5, 0, 3, 5} 
A.issuperset(B)

False

In [93]:
B.issuperset(A)

True

In [ ]:
#symmetric_difference():
# This in-built function of Python Set helps us to get the symmetric difference between two sets, which is equal to 
# the elements present in either of the two sets, but not common to both the sets. Let’s look at the Venn diagram of 
# the symmetric_difference between two sets.

# Input: set_A = {1, 2, 3, 4, 5}
#        set_B = {6, 7, 3, 9, 4}
# Output :  {1, 2, 5, 6, 7, 9}
# Explanation: The common elements {3, 4} 
# are discarded from the output.

# Input:
# set_A = {"ram", "rahim", "ajay", "rishav", "aakash"}
# set_B = {"aakash", "ajay", "shyam", "ram", "ravi"}
# Output: {"rahim", "rishav", "shyam", "ravi"}

# Explanation: The common elements {"ram", "ajay", 
# "aakash"} are discarded from the final set

In [94]:
set_A = {1, 2, 3, 4, 5}
set_B = {6, 7, 3, 9, 4}
set_A.symmetric_difference(set_B)

{1, 2, 5, 6, 7, 9}

In [95]:
set_B.symmetric_difference(set_A)

{1, 2, 5, 6, 7, 9}