In [1]:
# Lists in Python
# Lists are one of the most powerful tools in python. They are just like the arrays declared in other languages.
# But the most powerful thing is that list need not be always homogenous. A single list can contain strings, integers,
# as well as objects. Lists can also be used for implementing stacks and queues. Lists are mutable, i.e., 
# they can be altered once declared.

In [2]:
l=[1,2,6,8,9,3,4,5,6,7,8]
d=len(l)
d

11

In [3]:
# Adding Elements to a List

# 1.append()
# Elements can be added to the List by using built-in append() function. Only one element at a time can be added
# to the list by using append() method, for addition of multiple elements with the append() method, loops are used. 
# Tuples can also be added to the List with the use of append method because tuples are immutable. Unlike Sets, 
# Lists can also be added to the existing list with the use of append() method.

In [4]:
#append()
l.append(10)
# using for loop append in list
for i in range(0,4):
    l.append(i)
# tuple adding in list
l.append((12,13))
# list add in existing list
l.append([23,24,25,26,27,28])
d=len(l)
print(d)
l

18

[1,
 2,
 6,
 8,
 9,
 3,
 4,
 5,
 6,
 7,
 8,
 10,
 0,
 1,
 2,
 3,
 (12, 13),
 [23, 24, 25, 26, 27, 28]]

In [5]:
# 2.insert(position,value)
# append() method only works for addition of elements at the end of the List, for addition of element at the
# desired position, insert() method is used. Unlike append() which takes only one argument, insert() method 
# requires two arguments(position, value).

In [6]:
l.insert(3,30)
l.insert(19,'rohan')
print(l)
print(len(l))

[1, 2, 6, 30, 8, 9, 3, 4, 5, 6, 7, 8, 10, 0, 1, 2, 3, (12, 13), [23, 24, 25, 26, 27, 28], 'rohan']
20

In [7]:
# Extend()
# Other than append() and insert() methods, there’s one more method for Addition of elements, extend(), 
# this method is used to add multiple elements at the same time at the end of the list.

In [8]:
l.extend([40,50])
print(len(l))
print(l)

22
[1, 2, 6, 30, 8, 9, 3, 4, 5, 6, 7, 8, 10, 0, 1, 2, 3, (12, 13), [23, 24, 25, 26, 27, 28], 'rohan', 40, 50]

In [9]:
# Removing Elements from the List

In [10]:
# Remove()
# Elements can be removed from the List by using built-in remove() function but an Error arises if element
# doesn’t exist in the set. Remove() method only removes one element at a time, to remove range of elements, 
# iterator is used. The remove() method removes the specified item.
# Note – Remove method in List will only remove the first occurrence of the searched element.

In [11]:
L = [1, 2, 3, 4, 5, 6,7, 8, 9, 10, 11,5, 12]

In [12]:
L.remove(5)
L

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 5, 12]

In [13]:
# POP()
# Pop() function can also be used to remove and return an element from the set, but by default 
# it removes only the last element of the set, to remove element from a specific position of the List,
# index of the element is passed as an argument to the pop() method.

In [14]:
L.pop()

12

In [15]:
# Slicing of a List

In [16]:
l2 = ['G','E','E','K','S','F','O','R','G','E','E','K','S'] 
l2[::-1]

['S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

In [17]:
l2.sort()
l2

['E', 'E', 'E', 'E', 'F', 'G', 'G', 'K', 'K', 'O', 'R', 'S', 'S']

In [18]:
# FUNCTION	DESCRIPTION
# Append()	Add an element to the end of the list
# Extend()	Add all elements of a list to the another list
# Insert()	Insert an item at the defined index
# Remove()	Removes an item from the list
# Pop()	Removes and returns an element at the given index
# Clear()	Removes all items from the list
# Index()	Returns the index of the first matched item
# Count()	Returns the count of number of items passed as an argument
# Sort()	Sort items in a list in ascending order
# Reverse()	Reverse the order of items in the list
# copy()	Returns a copy of the list

In [19]:
#l2.clear()

In [20]:
l2.reverse()
l2

['S', 'S', 'R', 'O', 'K', 'K', 'G', 'G', 'F', 'E', 'E', 'E', 'E']

In [21]:
l2.count('K')

2

In [22]:
# FUNCTION	DESCRIPTION
# reduce()	apply a particular function passed in its argument to all of the list elements stores the 
#             intermediate result and only returns the final summation value
# sum()	Sums up the numbers in the list
# ord()	Returns an integer representing the Unicode code point of the given Unicode character
# cmp()	This function returns 1, if first list is “greater” than second list
# max()	return maximum element of given list
# min()	return minimum element of given list
# all()	Returns true if all element are true or if list is empty
# any()	return true if any element of the list is true. if list is empty, return false
# len()	Returns length of the list or size of the list
# enumerate()	Returns enumerate object of list
# accumulate()	apply a particular function passed in its argument to all of the list elements returns a list 
#               containing the intermediate results
# filter()	tests if each element of a list true or not
# map()	returns a list of the res

In [23]:
# reduce(fun seq):
# The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the 
# list elements mentioned in the sequence passed along.This function is defined in “functools” module.

# Working : 

# 1.At first step, first two elements of sequence are picked and the result is obtained.
# 2.Next step is to apply the same function to the previously attained result and the number just succeeding the 
#   second element and the result is again stored.
# 3.This process continues till no more elements are left in the container.
# 4.The final returned result is returned and printed on console.

In [24]:
l3=[1,2,3,4,5,6,7,8,9]
import functools
functools.reduce(lambda x,y:x+y,l3)

45

In [25]:
import functools
import operator
functools.reduce(operator.add,l3)
functools.reduce(operator.mul,l3)
functools.reduce(operator.add,['rohan','kumar','singh'])

'rohankumarsingh'

In [26]:
functools.reduce(lambda a,b: a if a>b else b,l3)
functools.reduce(lambda a,b:a*b,l3)

362880

In [27]:
x,y,z=[f(i) for f,i in zip((int,str,str),input().split())]

1 A A

In [28]:
x=[list(map(int,input().split()))]

1 2 3 4 5 6 7 8 9 0

In [29]:
#accumulate vs reduce
# Both reduce() and accumulate() can be used to calculate the summation of a sequence elements. 
# But there are differences in the implementation aspects in both of these.

# reduce() is defined in “functools” module, accumulate() in “itertools” module.
# reduce() stores the intermediate result and only returns the final summation value. Whereas, 
# accumulate() returns a iterator containing the intermediate results. The last number of the iterator 
# returned is summation value of the list.
# reduce(fun,seq) takes function as 1st and sequence as 2nd argument. 
# In contrast accumulate(seq,fun) takes sequence as 1st argument and function as 2nd argument.

In [30]:
#accumulate(seq,fun):
# it returns the intermediate result

In [31]:
import itertools
import operator
list(itertools.accumulate(l3,operator.add))

[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [32]:
# reduce vs accumulate
print(functools.reduce(lambda x,y:x+y,l3))
list(itertools.accumulate(l3,lambda a,b:a+b))

45

[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [33]:
# sum
# Returns an integer representing the Unicode code point of the given Unicode character

#chr
# returns character representing the unicode point of the given unicode integer

In [34]:
ord('a')

97

In [35]:
sum(l3)

45

In [36]:
# max()	return maximum element of given list

In [37]:
max(l3)

9

In [38]:
# min()	return minimum element of given list

In [39]:
min(l3)

1

In [40]:
# all()	Returns true if all element are true or if list is empty
# Returns true if all of the items are True (or if the iterable is empty).
# All can be thought of as a sequence of AND operations on the provided iterables. 
# It also short circuit the execution i.e. stop the execution as soon as the result is known.

In [41]:
r1=[]
r2=[]
for i in range(1,21):
    r1.append(4*i-3)
print(r1,end=" ") 
all(r1)

[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77]

True

In [42]:
for i in range(0,20):
    r2.append(r1[i]%2==1)
    
print(r2,end=" ")  
all(r2)
all(r1)

[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]

True

In [43]:
list1=[False,True,False,True,False]
list2=[True,True,True,True,True]
list3=[False,False,False,False]
list4=[]
all(list1)
all(list2)
all(list3)
all(list4)

True

In [44]:
# Truth Table:
#                          any    all
#   All True               True   True

#   All False              Flase  False
  
# one True other False     True   False

# one False other True     True   False

#   empty                  False  True

In [45]:
# any()	return true if any element of the list is true. if list is empty, return false
# Returns true if any of the items is True. It returns False if empty or all are false. 
# Any can be thought of as a sequence of OR operations on the provided iterables.
# It short circuit the execution i.e. stop the execution as soon as the result is known.

In [46]:
list1=[False,True,False,True,False]
list2=[True,True,True,True,True]
list3=[False,False,False,False]
list4=[]
any(list1)
any(list2)
any(list3)
any(list4)

False

In [47]:
# enumerate()	Returns enumerate object of list

# Enumerate() method adds a counter to an iterable and returns it in a form of enumerate object. 
# This enumerate object can then be used directly in for loops or be converted into a list of tuples using list() method.

In [48]:
l=['geeks','for','geeks','site']
list(enumerate(l))

[(0, 'geeks'), (1, 'for'), (2, 'geeks'), (3, 'site')]

In [49]:
week=['sunday','monday','tuesday','wenesday','thursday','friday','saturday']
for i,week in enumerate(week,1):
    print(i,week)

1 sunday
2 monday
3 tuesday
4 wenesday
5 thursday
6 friday
7 saturday

In [50]:
# filter()
# The filter() method filters the given sequence with the help of a function that tests each
# element in the sequence to be true or not.

# filter(function, sequence)
# Parameters:
# function: function that tests if each element of a 
# sequence true or not.
# sequence: sequence which needs to be filtered, it can 
# be sets, lists, tuples, or containers of any iterators.
# Returns:
# returns an iterator that is already filtered.

In [51]:
def vowel(variable):
    index=['a','e','i','o','u']
    for i in variable:
        
        if i in index:
            return True
            
        else:
            return False
            
variable=['b','c','d','e','f','g','h','j','k','l','m','n','p','q','r']
#variable=['b']
vowel(variable)

False

In [52]:
def fun(var):
    vowel=['a','e','i','o','u']
    if var in vowel:
        return True
    else:
        return False
var=['b','c','d','e','f','g','h','e','j','k','l','m','n'] 

# a=(filter(fun,var))
# for i in a:
#     print(i)

list(filter(fun,var))

['e', 'e']

In [53]:
seq = [0, 1, 2, 3, 5, 8, 13] 
a=filter(lambda x: x%2!=0,seq)
print(list(a))
b=filter(lambda y: y%2==0,seq)
print(list(b))

[1, 3, 5, 13]
[0, 2, 8]

In [54]:
# map()
# map() function returns a map object(which is an iterator) of the results after applying the given 
# function to each item of a given iterable (list, tuple etc.)

# Syntax :

# map(fun, iter)
# fun : It is a function to which map passes each element of given iterable.
# iter : It is a iterable which is to be mapped.

# NOTE : You can pass one or more iterable to the map() function.

# Returns :

# Returns a list of the results after applying the given function  
# to each item of a given iterable (list, tuple etc.) 

# NOTE : The returned value from map() (map object) then can be passed to functions like list() 
#       (to create a list), set() (to create a set) .

In [55]:
#example:
def add(a):
    return a+a

a=[1,2,3,4,5]

b=map(add,a)
# for i in b:
#     print(i)
list(b)

[2, 4, 6, 8, 10]

In [56]:
number=[1,2,3,4,5,6,7,8]
a=map(lambda x: x+x,number)
list(a)

[2, 4, 6, 8, 10, 12, 14, 16]

In [57]:
# more than two iterator
number1=[1,2,3,4,5,6,7,8]
number2=[5,8,9,4,3,2,8,1]
c=map(lambda x,y:x+y,number1,number2)
list(c)

[6, 10, 12, 8, 8, 8, 15, 9]

In [58]:
s=['geeks','for','geeks']

g=map(list,s)
list(g)

[['g', 'e', 'e', 'k', 's'], ['f', 'o', 'r'], ['g', 'e', 'e', 'k', 's']]

In [59]:
s=['geeks','for','geeks']
for i in s:
    print(len(i))

5
3
5

In [60]:
# Python map() function applies another function on a given iterable (List/String/Dictionary, etc.)
# and returns map object. In simple words, it traverses the list, calls the function for each element, and returns the results.

In [61]:
#lambda function():

# In Python, anonymous function means that a function is without a name. As we already know that def keyword is 
# used to define the normal functions and the lambda keyword is used to create anonymous functions. It has the following syntax:

# lambda arguments: expression

# This function can have any number of arguments but only one expression, which is evaluated and returned.
# One is free to use lambda functions wherever function objects are required.
# You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.
# It has various uses in particular fields of programming besides other types of expressions in functions.

In [72]:
def cuberoot(a):
    return a*a*a
print(cuberoot(10))

a=lambda x: x*x*x
print(a(10))

1000
1000

In [ ]:
# Without using Lambda : Here, both of them returns the cube of a given number. But, while using def, we needed 
#                        to define a function with a name cube and needed to pass a value to it. After execution, 
#                        we also needed to return the result from where the function was called using the return keyword.
    

# Using Lambda : Lambda definition does not include a “return” statement, it always contains an expression which is 
#                returned. We can also put a lambda definition anywhere a function is expected, and we don’t have to
#                assign it to a variable at all. This is the simplicity of lambda functions.

In [ ]:
#Lambda functions can be used along with built-in functions like filter(), map() and reduce().

In [ ]:
# Use of lambda () with filter()

In [85]:
a=[2,10,4,8,9,3,5,6,7,13,15,17]
list(filter(lambda x: x%2==0,a))

[2, 10, 4, 8, 6]

In [ ]:
# Use of lambda() with map()

In [87]:
a=[2,10,4,8,9,3,5,6,7,13,15,17]
list(map(lambda x: x+x,a))

[4, 20, 8, 16, 18, 6, 10, 12, 14, 26, 30, 34]

In [88]:
# Use of lambda() with reduce()

In [100]:
a=[2,4,6,8,10,12,14,16,18]
import functools
functools.reduce(lambda x,y: x+y,a)

90

In [105]:
import itertools
list(itertools.accumulate(a,lambda x,y:x+y))

[2, 6, 12, 20, 30, 42, 56, 72, 90]

In [108]:
arr = [1, 2, 0, 4, 3, 0, 5, 0] 
[nonzero for nonzero in arr if nonzero!=0]+[zero for zero in arr if zero==0 ]

[1, 2, 4, 3, 5, 0, 0, 0]