In [1]:
#TUPLE
# Tuple is a collection of Python objects much like a list. The sequence of values stored in a tuple can 
# be of any type, and they are indexed by integers.
# Values of a tuple are syntactically separated by ‘commas’. Although it is not necessary, 
# it is more common to define a tuple by closing the sequence of values in parentheses. This helps in understanding 
# the Python tuples more easily.

In [2]:
# Creating Tuple

In [3]:
tuple=(1,2,3,4,5,6)
type(tuple)

tuple

In [10]:
list1=[1,2,3,4,5,6,7]

In [14]:
#Mixed Tuple
tuple1=('geeks','for','geeks',10,20,20)
tuple2=({'rohan':50,'rakesh':50})
print(tuple1)
print(tuple2)

('geeks', 'for', 'geeks', 10, 20, 20)
{'rohan': 50, 'rakesh': 50}

In [18]:
# Add Multiple tuple
t1=(tuple2,tuple1)
t1

({'rohan': 50, 'rakesh': 50}, ('geeks', 'for', 'geeks', 10, 20, 20))

In [25]:
t=('geeks')
n=5
for i in range(n):
    t=(t,)
    print(t)

('geeks',)
(('geeks',),)
((('geeks',),),)
(((('geeks',),),),)
((((('geeks',),),),),)

In [26]:
#Accessing of Tuples
# Tuples are immutable, and usually, they contain a sequence of heterogeneous elements that are accessed via 
# unpacking or indexing (or even by attribute in the case of named tuples). Lists are mutable, and their elements
# are usually homogeneous and are accessed by iterating over the list.

# NOTE : In unpacking of tuple number of variables on left hand side should be equal to number of values in given tuple a.

In [34]:
tuple=(1,2,3,4,5,6,'rohan')
tuple[6]

'rohan'

In [38]:
# tuple1=('geeks','for','geeks')
tuple1=('geeks')
tuple1[0:]

'geeks'

In [56]:
t=('sunday','monday','tuesday','wednesday','thursday','friday','saturday')
a,m,tu,w,t,f,s=t
print(a,m,tu,w,t,f,s)
# x,y,*z=t
# print(x)
# print(y)
# print(*z)

sunday monday tuesday wednesday thursday friday saturday

In [ ]:
# Unpacking a Tuple in Python:
# Python Tuples In python tuples are used to sore immutable object. Python Tuples are very similar to lists except 
# to some situations. Python tuples are immutable means that they can not be modified in whole program.

# Packing and Unpacking a Tuple : In Python there is a very powerful tuple assignment feature that assigns right hand 
#                                 side of values into left hand side. In other way it is called unpacking of a tuple of 
#                                 values into a variable. In packing, we put values into a new tuple while in unpacking we
#                                 extract those values into a single variable.

In [47]:
# example of packing and Unpacking

In [50]:
#pack tuple
a=('IIT(ISM)','10000','Dhanbad Jharkhand')
#unpacking tuple
(college_name,number_of_student,state)=a
print(college_name)
print(number_of_student)
print(state)

IIT(ISM)
10000
Dhanbad Jharkhand

In [ ]:
# using *args

# Python uses a special syntax to pass optional arguments (*args) for tuple unpacking. This means that there can be 
# many number of arguments in place of (*args) in python. All values will be assigned to every variable on left hand 
# side and all remaining values will be assigned to *args .

In [58]:
tuple=('rohan',5,6,6,'kumar','singh')
a,*b,c=tuple
print(a,b,c)

rohan [5, 6, 6, 'kumar'] singh

In [59]:
tuple=('rohan',5,6,6,'kumar','singh')
a,b,*c=tuple
print(a,b,c)

rohan 5 [6, 6, 'kumar', 'singh']

In [60]:
tuple=('rohan',5,6,6,'kumar','singh')
*a,b,c=tuple
print(a,b,c)

['rohan', 5, 6, 6] kumar singh

In [63]:
def result(var1,var2):
    return var1*var2

t=(10,20)
result(*t)

200

In [ ]:
# Concatenation of Tuples:
# Concatenation of tuple is the process of joining of two or more Tuples. Concatenation is done by the use of ‘+’ operator. 
# Concatenation of tuples is done always from the end of the original tuple. Other arithmetic operations do not apply on Tuples.
# Note- Only same datatypes can be combined with concatenation, an error arises if a list and a tuple are combined.

In [69]:
tuple1=('roahn','kumar','singh',5,7,19)
tuple2=('geeks',34,45,67,'for','geeks',23,45)
tuple3=(tuple1,tuple2)
print(tuple3)

(('roahn', 'kumar', 'singh', 5, 7, 19), ('geeks', 34, 45, 67, 'for', 'geeks', 23, 45))

In [73]:
tuple4=tuple1+tuple2
print(tuple4)

('roahn', 'kumar', 'singh', 5, 7, 19, 'geeks', 34, 45, 67, 'for', 'geeks', 23, 45)

In [74]:
# Slicing of Tuple:
# Slicing of a Tuple is done to fetch a specific range or slice of sub-elements from a Tuple. Slicing can also
# be done to lists and arrays. Indexing in a list results to fetching a single element whereas Slicing allows to 
# fetch a set of elements.
# Note- Negative Increment values can also be used to reverse the sequence of Tuples

In [75]:
tuple4[0:]

('roahn',
 'kumar',
 'singh',
 5,
 7,
 19,
 'geeks',
 34,
 45,
 67,
 'for',
 'geeks',
 23,
 45)

In [85]:
#reverse tuple:
tuple4[::-1]

(45,
 23,
 'geeks',
 'for',
 67,
 45,
 34,
 'geeks',
 19,
 7,
 5,
 'singh',
 'kumar',
 'roahn')

In [ ]:
# Deleting a Tuple:
# Tuples are immutable and hence they do not allow deletion of a part of it.
# Entire tuple gets deleted by the use of del() method.
# Note- Printing of Tuple after deletion results to an Error.

In [90]:
t=(1,2,3,4,5,6,7)
del t
#t

In [ ]:
# BUILT-IN FUNCTION	DESCRIPTION
# all()	Returns true if all element are true or if tuple is empty
# any()	return true if any element of the tuple is true. if tuple is empty, return false
# len()	Returns length of the tuple or size of the tuple
# enumerate()	Returns enumerate object of tuple
# max()	return maximum element of given tuple
# min()	return minimum element of given tuple
# sum()	Sums up the numbers in the tuple
# sorted()	input elements in the tuple and return a new sorted list
# tuple()	Convert an iterable to a tuple.