In [7]:
import numpy as np
import pandas as pd

data=pd.read_csv('startup_funding.csv',index_col="SNo")
#print(data)
#data[['Date']]
#df1=data.iloc[:,:1]
#df2=data.iloc[:,1:]

In [20]:

df=pd.DataFrame(data)
df['InvestorsName'].replace(to_replace='',value='NaN',inplace=True)


l=[]
for x in range(len(df['InvestorsName'])):
    a=(df['InvestorsName'][x].split(','))
    for i in range(len(a)):
        l.append(a[i])
        
print(l)

AttributeError: 'float' object has no attribute 'split'

In [77]:
raw_data = {'student_name': ['Miller', 'Miller', 'Ali', 'Miller'], 
        'test_score': [76, 75,74,76]}

df2 = pd.DataFrame(raw_data, columns = ['student_name', 'test_score'])
df1=df2.drop_duplicates("student_name")
print(df1)
#newDF = pd.DataFrame() 

# for column in df2.columns[0:]:
#     dat = df2[column].drop_duplicates()
#     df3 = pd.DataFrame(dat)
#     newDF = newDF.append(df3)

# print(newDF)

  student_name  test_score
0       Miller          76
2          Ali          74

##

In [2]:
import datetime

def guess_date(string):
    for fmt in ["%Y/%m/%d", "%d-%m-%Y", "%Y%m%d"]:
        try:
            return datetime.datetime.strptime(string, fmt)
        except ValueError:
            continue
    raise ValueError(string)
    
#sample = "2017/5/23", "22-04-2015", "20150504"   
guess_date("20150504")

datetime.datetime(2015, 5, 4, 0, 0)

In [3]:
import datetime

x = datetime.datetime(2018, 9, 15, 12, 45, 35)

print(x.strftime("%m-%d-%Y"))

09-15-2018

In [7]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.random.rand(5,6),columns=list('abcdef'))
df

          a         b         c         d         e         f
0  0.841241  0.516751  0.414881  0.616307  0.586703  0.567219
1  0.646750  0.259337  0.034372  0.584110  0.439725  0.293969
2  0.891289  0.779977  0.201405  0.814091  0.897037  0.704146
3  0.640073  0.561324  0.441102  0.686376  0.992493  0.527249
4  0.131183  0.649124  0.412031  0.216434  0.175673  0.354427

In [21]:
s=np.random.rand(1,100,100)
s

array([[[0.68675616, 0.24420261, 0.92460228, ..., 0.82377824,
         0.18489508, 0.66785112],
        [0.48786303, 0.55126033, 0.5074797 , ..., 0.65849563,
         0.86566368, 0.28007341],
        [0.31492245, 0.20615754, 0.71090338, ..., 0.00957444,
         0.9511711 , 0.47684788],
        ...,
        [0.53123421, 0.39643032, 0.07585131, ..., 0.97408572,
         0.42822614, 0.80799717],
        [0.89142653, 0.12738746, 0.66662261, ..., 0.5221944 ,
         0.35210975, 0.92004122],
        [0.72057168, 0.74613285, 0.03635167, ..., 0.91171176,
         0.29737832, 0.95103387]]])

In [25]:
l=[1,2,3,4,5,6]
a=np.array(l)
a
type(a)

numpy.ndarray

In [26]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [27]:
 np.linspace(0,5,10)

array([0.        , 0.55555556, 1.11111111, 1.66666667, 2.22222222,
       2.77777778, 3.33333333, 3.88888889, 4.44444444, 5.        ])

In [24]:
mystr = "Rohan Kumar";
print(mystr[0])

R

In [53]:
f=open('name.txt')
for i in f:
    a=((i).split())
    print(a[0][0],a[1][0])

TypeError: object of type '_io.TextIOWrapper' has no len()

In [51]:
f=open('name.txt')
for i in f:
    if i == " ":
        i+i+1
    a=((i).split())
    print(a[0][0],a[1][0])

R k
P E
P E
S F
S F
S F
S F
P E
P E
P E
P E
P E
S F
S F
S F
S F
P E
P E
S F
S F
P E
P E
S F
S F
S F
P E
S F
P E
P E
S F
S F
S F
P E
S F
S F